*{
    margin:0px;
    padding:0px;
}
.container1{
    background-color: #172937;
    height:350px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}
.right {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-right: 10px;
    min-width: 400px;
}
.navitem{
  margin-right:60px;
  padding-top:6px;
}
.logo:hover{
    color:rgb(0, 132, 255);
}
.navitem:hover{
    color:rgb(0, 123, 255);
}
#resume{
    height:20px;
    width:80px;
    border:2px solid rgba(255, 0, 0, 0.544);
    padding:6px;
    text-align:center;
}
.logo {
    font-weight: bold;
    color: #F2F2F2;
    display: flex;
    align-items: center;
    font-weight: 600px;
    padding-left: 6px;
    margin-top:16px;
    flex-grow: 1;
}
.icon{
    background-color:white;
    border-radius:50%;
    height:25px;
    width:25px;
    margin-left:20px;
    margin-top:16px;
}
.Description{
    margin:70px;
    margin-left:80px;
    display:flex;
}
.Explorin{
    color:#FF8153;
}
p{
    margin-top:20px;
    color:#F2F2F2CC;
    width:500px;
}
h1{ 
    
    color:#FFFFFF;
}
h2{
    margin-top:10px;
    color:rgba(255, 255, 255, 0.808);
}
.circle{
    border-radius:50%;
    margin-left:100px;
    background-color:#D9D9D9;
    height:170px;
    width:170px;
}
main{
    background-color: rgba(255, 228, 196, 0.547);
    height:1500px;
}
.container2{
    font-size:25px;
    text-align:center;
    padding-top:20px;
}
.b1{
    color:#172937;
    font-weight:bolder;
}
.b2{
    font-weight: bolder;
    color:#FF8153;
}
.para{
    color:black;
    text-align:center;
    margin-top:16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img11{
    display:flex;
    justify-content:center;
}
.img1{
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    height:180px;
    width:850px;
    justify-content: center;
    align-items:center;
    gap:10px; 
    background-color:white;
    border-radius:10px 10px 10px 10px;
}
.Data{
    height:30px;
    width:130px;
}
.machine{
    height:30px;
    width:120px;
}
.hyper{
  
    height:30px;
    width:100px;
}
.nodejs{
   
    height:30px;
    width:100px;
}
.mongo{
   
    height:30px;
    width:100px;
}
.js{
    
    height:30px;
    width:100px;
}
.react{
   
    height:30px;
    width:100px;
}
.css{
   
    height:30px;
    width:100px;
}
.sql{
   
    height:30px;
    width:100px;
}
.fire{
    
    height:30px;
    width:100px;
}
.dimg{
    height:20px;
}
.flex{
    border:1px solid #F37021;
    margin-top:18px;
    height:20px;
    padding-bottom:4px;
    width:110px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-right:4px;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexa{
    border:1px solid #F37021;
    margin-top:18px;
    height:20px;
    padding-bottom:4px;
    width:140px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    padding-right:4px;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexb{
    border:1px solid #F37021;
    margin-top:18px;
    height:20px;
    padding-bottom:4px;
    width:80px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexc{
    border:1px solid #F37021;
    margin-top:18px;
    height:20px;
    padding-bottom:4px;
    width:70px;
    font-size:16px;
    display:flex;
    justify-content: center;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexh{
    border:1px solid #F37021;
    margin-top:18px;
    height:20px;
    padding-bottom:4px;
    width:80px;
    font-size:16px;
    display:flex;
    justify-content: center;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexd{
    border:1px solid #F37021;
    margin-top:18px;
    height:20px;
    padding-bottom:4px;
    width:100px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexe{
    border:1px solid #F37021;
    margin-top:18px;
    height:20px;
    padding-bottom:4px;
    width:105px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexf{
    border:1px solid #F37021;
    margin-bottom:18px;
    height:20px;
    padding-bottom:4px;
    width:65px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexg{
    border:1px solid #F37021;
    margin-bottom:18px;
    height:20px;
    padding-bottom:4px;
    width:90px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexi{
    border:1px solid #F37021;
    height:20px;
    padding-bottom:4px;
    width:110px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    padding-right:4px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexai{
    border:1px solid #F37021;
    height:20px;
    padding-bottom:4px;
    width:140px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    padding-right:4px;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexbi{
    border:1px solid #F37021;
    height:20px;
    padding-bottom:4px;
    width:80px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexci{
    border:1px solid #F37021;
    height:20px;
    padding-bottom:4px;
    width:70px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexdi{
    border:1px solid #F37021;
    height:20px;
    padding-bottom:4px;
    width:100px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexei{
    border:1px solid #F37021;
    height:20px;
    padding-bottom:4px;
    width:105px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flexhi{
    border:1px solid #F37021;
    height:20px;
    padding-bottom:4px;
    width:80px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    padding-left:4px;
    padding-top:6px;
    font-weight:500;
    border-radius:4px 4px 4px 4px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container3{
    font-size:25px;
    text-align:center;
    padding-top:50px;
}
.parent{
    display:flex;
    justify-content: center;
}
.linkedin{
    background-color:#F37021;
    color:white;
    border:2px solid red;
    height:30px;
    width:180px;
    padding-top:10px;
    text-align:center;
    margin-top:25px;
    border-radius:6px 6px 6px 6px;
}
.img2{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:25px;
    gap:15px;
}
.img21{
    height:150px;
    width:200px;
}
.img211{
    height:105px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgba(255, 0, 0, 0.596);
    font-size:10px;
    background-color:rgba(169, 169, 169, 0.807);
    border-radius:16px 16px 0px 0px;
}
.img212{
    background-color:white;
    font-size:10px;
    height:55px;
    padding:10px;
    border-radius:0px 0px 16px 16px;
}
.m{
    margin-top:5px;
}
.imgi{
    height:240px;
    width:200px;
}
.robot{
    height:110px;
    width:200px;
}
.imgi1{
    height:110px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imgi2{
   background-color: white;
   height:127px;
   border-bottom-right-radius:10px ;
   border-bottom-left-radius:10px ;
}
.lorem{
    font-size:10px;
    padding-left:15px;
    margin-top:8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about{
    font-size:10px;
    padding-left:15px;
    margin-top:8px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pro{
    padding-left:15px;
    padding-top:10px;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#F37021;
    font-weight: 1000;
}
.topic{
    font-size:16px;
    font-weight:550;
}
.container4{
    font-size:25px;
    text-align:center;
    padding-top:50px;
    margin-top:40px;
}
.container5{
    font-size:25px;
    text-align:center;
    padding-top:50px;
    color:#172937;
    font-weight:bolder;
}
.pa{
    color:black;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-section{
    background-color:#172937;
    height:200px;
    text-align:center;
    font-size:30px;
    font-weight:1000;
    color:#F37021;
}
.con{
   padding-top:35px;
}
.pf{
    color:white;
    font-size:16px;
    margin-top:16px;
    font-weight:500;
}
.base{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:22px;
}
.Git{
    border:1px solid #F37021;
    height:25px;
    width:100px;
    font-size:16px;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    color:white;
    padding:4px;
    padding-top:6px;
    font-weight:500;
}
.email{
    border:1px solid #F37021;
    display:flex;
    justify-content: space-evenly;
    height:25px;
    width:180px;
    text-align:center;
    color:white;
    font-size:16px;font-size:16px;
    padding:4px;
    padding-top:6px;
    font-weight:500;
}
.img3{
    width:20px;
    height:20px;
}
.box{
    gap:25px;
}
.box1{
    height:80px;
    width:250px;
    border:2px solid white;
    background-color:white;
    margin-top:25px;
    border-radius:6px 6px 6px 6px;
}
 .year{
    font-size:14px;
    color:#F37021;
    margin:2px;
    padding-left:8px;
 }
 .course{
    font-size:12px;
    margin:2px;
    padding-left:8px;
 }
 .Explore{
   font-weight:bolder;
   margin:2px;
   padding-top:8px;
   padding-left:8px;
 }


